
/*LAYOUT FOO*/

body {
	background-color:#eee;
}

#wrapper {
	background-color:#FFF;
}

hr.cleaner {
border:medium none;
clear:both;
height:1px;
margin:-1px 0pt 0pt;
padding:0pt;
visibility:hidden;
}

div#container {
  width: 920px;
  margin: 0 auto;
background-color:#fff;
position:relative;
  }

#benTop {
position:relative;
padding-top:2em;
margin: 0 0 2em 60px;
border-bottom:1px dotted #666;
}

#content {
	float:left;
	width: 640px;
	margin-left:60px;
}

#sidebar {width: 220px; float:right;}

nav#pagination {
	margin-bottom:10px;
}

figcaption {
	font-size:90%;
	line-height: 1.5em;
}

article {
	margin: 0 0 36px;
}

p#tag {
	color: #666;
	margin-bottom:0;
	}




a {color: #a0221f;}

/* icon for external links */
a.external {
	background: transparent url('../images/Portfolio/Icon_External_Link.png') left no-repeat;
	padding-left: 15px;		
	text-decoration:none;
}

a.external:hover {text-decoration:underline;}

#sidebar li {margin-left:20px; clear:both; margin: 0 10px; list-style: none;}
#sidebar li span {position: relative; top: 10px; left: 0;}
#sidebar li a img {float:left; padding: 0 5px 0 0;}
.right {float: right; display:inline;}
.left {float: left; display:inline;}


/*.portfolio h3 {border-top: 1px solid #743311;}*/

h1 a {
  font-family: Copse, Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
  text-decoration:none;
  margin-bottom:0;
  }

h2, h3, h4 {
	font-family: Copse, Helvetica, Arial, sans-serif;
}

h1 a, h2 a, h3 a  {  
	text-decoration:none;
	font-weight:normal;
}


footer {
	border-top:1px solid #ccc; 
	display:block; 
	padding: 18px;
	background-color:#eee;
	}
	
footer a {
	font-weight:normal;
	text-decoration:none;
}

#legal {
	text-align:center;
	font-size:.9em;
}

/*BLOG STYLES*/

.hanger {
	float:left;
	margin: 2px 0 0 -100px;
	text-align:left;
	width: 100px;
	font-size:.9em;
	line-height:2.1em;
}

.hanger a {
	color:#666;
	text-decoration:none;
}

#linkies {
	float:right;
}

#linkies li {
	display:inline;
	padding-left:10px;
}