/*LAYOUT FOO*/
body {
  background-color: #fff;
  margin: 0;
  font: 120%/1.5em 'Open Sans', 'Lucida Grande', 'Lucida Sans', Verdana, sans-serif; }

div#container {
  margin: 0 auto;
  width: 640px; }
  @media screen and (max-width: 640px) {
    div#container {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    div#container {
      width: 640px; } }

header {
  position: relative;
  padding-top: 2em;
  color: #ddd;
  margin: 0 5px 48px 5px;
  border-bottom: 2px solid #ccc; }

#site-title {
  position: relative;
  margin-bottom: 18px; }

#site-title a {
  color: #203653;
  text-decoration: none;
  margin-bottom: 5px;
  padding-right: 30px; }

.tag {
  color: #000;
  margin-bottom: 0;
  font-size: 12px; }

nav#pagination {
  margin: 10px 0; }

figure img {
  max-width: 100%; }

figcaption {
  font-size: 85%;
  color: #ccc;
  line-height: 1.5em; }

article {
  margin: 48px 5px 0 5px;
  background-color: #FFF; }

a {
  color: #6D060D; }

/* icon for external links */
a.external {
  background: transparent url("../images/Portfolio/Icon_External_Link.png") left no-repeat;
  padding-left: 15px;
  text-decoration: none; }

a.external:hover {
  text-decoration: underline; }

#sidebar li {
  margin-left: 20px;
  clear: both;
  margin: 0 10px;
  list-style: none; }

#sidebar li span {
  position: relative;
  top: 10px;
  left: 0; }

#sidebar li a img {
  float: left;
  padding: 0 5px 0 0; }

.right {
  float: right;
  display: inline; }

.left {
  float: left;
  display: inline; }

/*.portfolio h3 {border-top: 1px solid #743311;}*/
h1 {
  font-family: 'Raleway', Verdana, sans-serif;
  width: 640px;
  letter-spacing: 1px;
  font-weight: normal;
  color: #203653; }

h2, h3 {
  font-weight: normal;
  color: #203653; }

h1 a, h2 a, h3 a {
  text-decoration: none;
  font-weight: normal; }

pre {
  max-width: 100%;
  overflow: auto;
  font-size: 85%; }

footer {
  display: block;
  padding: 18px 5px 18px 5px;
  margin: 0 auto;
  color: #000;
  font-size: 80%;
  line-height: 1.5em;
  border-top: 2px solid #ccc; }

footer a {
  font-weight: normal;
  text-decoration: none; }

blockquote {
  border-left: 2px solid #ddd;
  color: #444; }

blockquote p {
  padding-top: 0;
  padding-bottom: 0; }

#footLinks {
  list-style: none; }

#legal {
  text-align: center;
  font-size: .9em; }

#newer {
  float: right; }

#older {
  float: left; }

/*BLOG STYLES*/
.archive-post-time {
  padding-right: 10px;
  color: #444; }

.date {
  text-align: left;
  font-size: .7em;
  margin: -20px 0 20px 0; }

.date a {
  display: block;
  color: #444;
  text-decoration: none; }

hr.cleaner {
  border: medium none;
  clear: both;
  height: 1px;
  margin: -1px 0pt 0pt;
  padding: 0pt;
  visibility: hidden; }
