<!DOCTYPE html>
<html>
  <head>
	 <meta charset="utf-8"> 
	 <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" >
	 <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	 <title>Ben Chinn : {{ page.title }}</title>
     <meta name="author" content="Ben Chinn" />
     <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/blog/stylesheets/css/sen.css" type="text/css" />
 	<link rel="stylesheet" href="/blog/stylesheets/css/style.css" type="text/css" />
	<link rel="shortcut icon" href="/blog/images/favicon.ico">
	<link href='http://fonts.googleapis.com/css?family=Bitter|Open+Sans:400italic,400,700|Raleway:100' rel='stylesheet' type='text/css'>
	<script src="/blog/js/modernizr.2.0.6.js" type="text/javascript" charset="utf-8"></script>
	<link rel="alternate" type="application/atom+xml" href="http://benchinn.com/blog/feed/atom.xml" title="Ben Chinn Posts">
  </head>
	<body id="blog">
		<div id="top">
		<header>
			<h1 id="site-title"><a href="/blog/">Ben Chinn</a></h1>
			<p id="tag">Slightly nerdy ramblings and linkage</p>
		</header>
		</div>
		<div id="wrapper">
		<div id="container">
			<section id="content">          
				{{ content }}
        	</section>
			<hr class="cleaner">
		</div>
		</div>
		<div id="bottom">
		<footer>
			<section id="footInfo">
			<img style="padding:0 10px 10px 0; float: left" src="/blog/images/profile-tn.jpg" width="140" height="127" />
			<p style="font-size: .9em; width: 400px; line-height: 1.5em;">I'm Ben Chinn. I work on the web, live in San Francisco and spend too much time thinking about technology and fiddling with my workflows.  This blog is an experiment in personal publishing and engineered uselessness.</p>
			</section>
			<ul id="footLinks">
				<li><a href="http://twitter.com/thechinnster/">Follow me on Twitter</a></li>
			</ul>
			<hr class="cleaner" />
		</footer>	
			</div>
  </body>
</html>