<!DOCTYPE html>
<html>
  <head>
	 <meta name="viewport" content="width=device-width">
	 <title>Ben Chinn : {{ page.title }}</title>
     <meta name="author" content="Ben Chinn" />
     <meta charset="utf-8"> 
     <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/stylesheets/css/sen.css" type="text/css" />
 	<link rel="stylesheet" href="/stylesheets/css/style.css" type="text/css" />
	<link rel="shortcut icon" href="/images/favicon.ico">
	<link href='http://fonts.googleapis.com/css?family=Bitter|Open+Sans:400italic,400,700|Raleway:100' rel='stylesheet' type='text/css'>
	<script src="/js/modernizr.2.0.6.js" type="text/javascript" charset="utf-8"></script>
	<link rel="alternate" type="application/rss+xml" href="http://benchinn.com/rss.xml" title="Ben Chinn Feed">
	
	<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-304720-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
  </head>
	<body>
		<div id="container">
		<header>
			<h1 id="site-title"><a href="/">Ben Chinn</a></h1>
			<h2 class="tag">Slightly nerdy ramblings and linkage</h2>
		</header>
			<section id="content">          
				{{ content }}
        	</section>
			<hr class="cleaner">
		<footer>
			<section id="footInfo">
			<img style="padding:0 10px 10px 0; float: left" src="/images/profile-tn.jpg" width="140" height="140" />
			<p style="font-size: .9em; line-height: 1.5em;">I'm Ben Chinn. I lead digital teams, live in San Francisco and spend too much time thinking about technology and fiddling with my workflows.  This blog is an experiment in personal publishing and engineered uselessness.</p>
			</section>
			<ul id="footLinks">
				<li><a href="http://twitter.com/thechinnster/">Follow me on Twitter</a></li>
			</ul>
			<hr class="cleaner" />
		</footer>	
	
		</div>
  </body>
</html>