<!DOCTYPE html>
<html>
  <head>
	 
	 <title>Ben Chinn : {{ page.title }}</title>
     <meta name="author" content="Ben Chinn" />
     <meta charset="utf-8"> 
	 <meta name="viewport" content="width = device-width">
     <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/stylesheets/css/sen.css" type="text/css" />
 	<link rel="stylesheet" href="/stylesheets/css/style.css" type="text/css" />
	<link rel="shortcut icon" href="/images/favicon.ico">
	<link href='http://fonts.googleapis.com/css?family=Bitter|Open+Sans:400italic,400,700|Raleway:100' rel='stylesheet' type='text/css'>
	<script src="/js/modernizr.2.0.6.js" type="text/javascript" charset="utf-8"></script>
	<link rel="alternate" type="application/rss+xml" href="http://benchinn.com/rss.xml" title="Ben Chinn Feed">
  </head>
	<body>
		<div id="container">
		<header>
			<h1 id="site-title"><a href="/">Ben Chinn</a></h1>
			<h2 class="tag">Slightly nerdy ramblings and linkage</h2>
		</header>
			<section id="content">          
				{{ content }}
        	</section>
			<hr class="cleaner">
			
		</div>
  </body>
</html>